<!DOCTYPE html>
<html>
  <head>
    <title>Creaters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to 'CREATERS', root_path %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <strong><%#= link_to current_user.name, pages_show_path %></strong>
              <%= link_to 'プロフィール変更', edit_user_registration_path %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
